@import "tailwindcss";

body {
    background: url("https://cdn.pixabay.com/photo/2022/09/27/10/27/brain-7482511_1280.jpg") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

